* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-bel-rus.bel-rus.dix -text
/apertium-bel-rus.bel-rus.lrx -text
/apertium-bel-rus.bel-rus.t1x -text
/apertium-bel-rus.bel-rus.t2x -text
/apertium-bel-rus.bel-rus.t3x -text
/apertium-bel-rus.rus-bel.lrx -text
/apertium-bel-rus.rus-bel.t1x -text
/apertium-bel-rus.rus-bel.t2x -text
/apertium-bel-rus.rus-bel.t3x -text
/apertium-bel-rus.rus-bel.t4x -text
/autogen.sh -text
/configure.ac -text
dev/BelarusianTagsAnalyzer/BelarusianTagsAnalyzer.py -text
dev/BelarusianTagsAnalyzer/BelarusianTagsAnalyzerTests.py -text
dev/BelarusianTagsAnalyzer/example.py -text
dev/adv_list.txt -text
dev/coverage/bel-rus_trim_cov.sh -text
dev/coverage/rus-bel_trim_cov.sh -text
dev/make_bidix_n.py -text
dev/n_list.txt -text
dev/n_mp_translation.txt -text svneol=unset#application/octet-stream
dev/parse_korpus.py -text
dev/process_n.py -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/article1.bel.txt -text svneol=unset#application/octet-stream
texts/article1.rus.txt -text svneol=unset#application/octet-stream
texts/article2.bel.txt -text
texts/article2.rus.txt -text svneol=unset#application/octet-stream
texts/evaluation_1/article1.bel.mt.txt -text svneol=unset#application/octet-stream
texts/evaluation_1/article1.bel.postedit.txt -text svneol=unset#application/octet-stream
texts/evaluation_1/article1.rus.mt.txt -text svneol=unset#application/octet-stream
texts/evaluation_1/article1.rus.postedit.txt -text svneol=unset#application/octet-stream
texts/evaluation_2/tale1.bel.mt.txt -text svneol=unset#application/octet-stream
texts/evaluation_2/tale1.bel.postedit.txt -text svneol=unset#application/octet-stream
texts/evaluation_2/tale1.rus.mt.txt -text svneol=unset#application/octet-stream
texts/evaluation_2/tale1.rus.postedit.txt -text svneol=unset#application/octet-stream
texts/evaluation_3/article2.bel.mt.txt -text svneol=unset#application/octet-stream
texts/evaluation_3/article2.bel.postedit.txt -text svneol=unset#application/octet-stream
texts/evaluation_3/article2.rus.mt.txt -text
texts/evaluation_3/article2.rus.postedit.txt -text
texts/tale1.bel.txt -text svneol=unset#application/octet-stream
texts/tale1.rus.txt -text svneol=unset#application/octet-stream
texts/text-bel.txt -text svneol=unset#application/octet-stream
texts/text-rus.txt -text svneol=unset#application/octet-stream
